= content_for :js do
  = javascript_include_tag *webpack_asset_paths('albums')


= form_for [:admin, @album] do |f|

  = render 'admin/partials/errors', model: @album
  = render 'albums/cover', album: @album, media: @album.media, settings: false

  %div.input-field.file-field
    %div.btn
      %span Photo de couverture
      = f.file_field :cover, accept: 'image/png,image/gif,image/jpeg,image/jpg'
    %div.file-path-wrapper
      = text_field_tag 'Kroustille <3', '', class: 'file-path validate'

  %div.input-field
    = f.text_field :name, placeholder: 'WEI 2015, Gala ...', autofocus: 'autofocus'
    = label_tag "Nom de l'album:"

  %div.input-field
    = f.date_field :date, class: 'datepicker', value: format_album_date(@album)
    = label_tag "Date de l'album:"

  %button.btn.waves-effect.waves-light{type: 'submit'}
    = submit_button_value(@album)
    %i.material-icons.right
