%div.section-admin
  %h2 Liste des Évents

  %table.striped.bordered.highlight
    %thead
      %tr
        %th ID
        %th Nom
        %th.useless-column Date de l'Évent
        %th.useless-column Ajouté
        %th.useless-column Mis à jour
        %th
        %th
    %tbody
    - @events.each do |event|
      %tr
        %td
          = link_to event.id, edit_admin_event_path(event)
        %td
          = link_to event.name, edit_admin_event_path(event)
        %td.useless-column
          = format_event_date(event)
        %td.useless-column
          = format_date(event.created_at)
        %td.useless-column
          = format_date(event.updated_at)
        %td
          = link_to 'Modifier', edit_admin_event_path(event)
        %td
          = link_to 'Supprimer', admin_event_path(event), method: :delete, data: { confirm: 'Voulez-vous supprimer cet Event ?' }

  = link_to 'Nouveau Évent', new_admin_event_path, class: 'waves-effect waves-light btn'
