%h2 Liste des Events
 
%table
  %tr
    %th ID
    %th Nom
    %th Date de l'Event
    %th.colum-timestamps Ajouté
    %th.colum-timestamps Mis à jour
 
  - @events.each do |event|
    %tr
      %td
        = event.id
      %td
        = event.name
      %td
        = format_event_date(event.date)
      %td.colum-timestamps
        = format_date(event.created_at)
      %td.colum-timestamps
        = format_date(event.updated_at)

      %td
        = link_to 'Modifier', edit_admin_event_path(event)
      %td 
        = link_to 'Supprimer', admin_event_path(event), method: :delete, data: { confirm: 'Voulez-vous supprimer cet Event ?' }

= link_to 'Nouveau Event', new_admin_event_path, class: "button"
