= form_for [:admin, @type] do |f|

  = render 'admin/partials/errors', model: @type
  
  %div.form-group
    = label_tag 'Type de média:'
    = f.text_field :name, placeholder: "Vidéo...", class: "form-control"

  %div.form-group
    = label_tag 'Types de MIME (séparé par un espace si plusieurs):'
    = f.text_field :mime_types, placeholder: "image/png image/jpeg", class: "form-control"

  %div.form-group
    = f.submit submit_button_value(@type), class: "button"
