= form_for [:admin, @type] do |f|
  %div.errors
    - if @type.errors.any?
      %h3
        = pluralize(@type.errors.count, "erreur")
      %ul
        - @type.errors.full_messages.each do |msg|
          %li= msg
  %p 
    = label_tag 'Type de média:'
    = f.text_field :name, placeholder: "Vidéo..."

  %p 
    = label_tag 'Types MIME:'
    = f.text_field :mime_types, placeholder: "image/png image/jpeg"

  %p
    = f.submit submit_button_value(@type), class: 'button'
