%div.cover
  - if((@current_user.author? || @current_user.admin?) && settings == true)
    = link_to edit_admin_type_path(type), class: 'button-admin' do
      %div.icon
      %p Modifier
  %div.illustration
    = image_tag cover(type), class: 'illustration'
    %div.cover-desc
      %div.cover-name
        = type.name
      %div.cover-count
        - if media.size > 0
          = "#{media.size} " + (media.size > 1 ? 'médias' : 'média')
