%h2 Liste des types
 
%table
  %tr
    %th ID
    %th Nom
    %th.colum-timestamps Ajouté
    %th.colum-timestamps Mis à jour
 
  - @types.each do |type|
    %tr
      %td
        = type.id
      %td
        = type.name
      %td.colum-timestamps
        = format_date(type.created_at)
      %td.colum-timestamps
        = format_date(type.updated_at)

- if current_user.author?
  = link_to 'Nouveau type', new_admin_type_path, class: "button"