%h2 Liste des types
 
%table
  %tr
    %th ID
    %th Nom
    %th Ajouté
    %th Mis à jour
 
  - @types.each do |type|
    %tr
      %td
        = type.id
      %td
        = type.name
      %td
        = format_date(type.created_at)
      %td
        = format_date(type.updated_at)
      %td
        = link_to 'Modifier', edit_type_path(type)
      %td 
        = link_to 'Supprimer', type_path(type), method: :delete, data: { confirm: 'Voulez-vous supprimer ce type ?' }

= link_to 'Nouveau type', new_type_path, class: "button"