%nav.uk-navbar

  = link_to "/", id: "nav-logo" do
    = image_tag("/images/logo_studio.png")
  %div.nav-container-hamburger
    %div.nav-hamburger


  %div.nav.hidden
    %ul.uk-navbar-nav
      - if !current_user
        %li
          = link_to "Studio", "/#studio", data: { turbolinks: false }
        %li
          = link_to "Réalisations", "/#works", data: { turbolinks: false }
        %li
          = link_to "À propos", "/#about", data: { turbolinks: false }
      - else
        %li
          = link_to "Medias", media_path, data: { turbolinks: false }
        %li
          = link_to "Types", types_path, data: { turbolinks: false }
        %li
          = link_to "Évents", events_path, data: { turbolinks: false }
        %li
          = link_to "Users", users_path, data: { turbolinks: false }


    %div.uk-navbar-flip
      %ul.uk-navbar-nav
        - if current_user
          %li
            = link_to user_path(current_user), id: "nav-profile" do
              %div.nav-profile-avatar
                = image_tag(url_picture_profile(current_user))
              %div.nav-profile-user
                = current_user.nickname
          - if current_user.admin?
            %li
              = link_to "Dashboard", admin_path, data: { turbolinks: false }
          %li
            = link_to "Déconnexion", logout_path, id: "sign_out", data: { turbolinks: false }
        - else
          %li
            = link_to "Se connecter", login_path, id: "login", data: { turbolinks: false }