%nav
  -#%a#nav-logo
  = link_to "/", id: "nav-logo" do
    = image_tag("/images/logo_studio.png")
  %div.nav-container-hamburger
    %div.nav-hamburger
  
  %div.nav.hidden
    %div.nav-left

      = link_to "Studio", "/#studio", data: { turbolinks: false }
      = link_to "Réalisations", "/#works", data: { turbolinks: false }
      = link_to "À propos", "/#about", data: { turbolinks: false }
    %div.nav-right
      - if current_user

        = link_to "#", id: "nav-profile" do
          %div.nav-profile-avatar
            = image_tag("/images/lens.jpeg")
          %div.nav-profile-user
            = current_user.name
        -#= link_to "Picker", signout_path, id: "sign_out", data: { turbolinks: false }
        = link_to "Déconnexion", signout_path, id: "sign_out", data: { turbolinks: false }

      - else
        = link_to "Se connecter", "/auth/google_oauth2", id: "sign_in"