%nav#nav

  %div#nav-menu-overlay
    %header
      = link_to '/', class: "nav-item nav-logo" do
        = image_tag("/images/logo_studio.png")
      %div.nav-item#close
        = link_to '#' do
          %i.fa.fa-times{:aria => {hidden: 'true'}}
    %ul.nav-items
      %li.nav-item
        = link_to "/#studio", data: { turbolinks: false } do
          %i.fa.fa-film{:aria => {hidden: 'true'}}
          Studio
      %li.nav-item
        = link_to  "/#works", data: { turbolinks: false } do
          %i.fa.fa-camera-retro{:aria => {hidden: 'true'}}
          Réalisations

      %li.nav-item
        = link_to "/#about", data: { turbolinks: false } do
          %i.fa.fa-rocket{:aria => {hidden: 'true'}}
          À propos

    %ul.nav-items
      - if !@current_user
        %li.nav-item
          = link_to login_path, data: { turbolinks: false } do
            %i.fa.fa-sign-in{:aria => {hidden: 'true'}}
            Sign in
      - else
        - if @current_user.author? || @current_user.admin?
          %li.nav-item
            = link_to admin_path do
              %i.fa.fa-unlock-alt{:aria => {hidden: 'true'}}
              Dashboard
        %li.nav-item
          = link_to user_path(@current_user) do
            %i.fa.fa-user-o{:aria => {hidden: 'true'}}
            My Profil
        %li.nav-item
          = link_to logout_path do
            %i.fa.fa-sign-out{:aria => {hidden: 'true'}}
            Logout

    %ul.nav-items
      %li.nav-item.nav-item-social.youtube
        = link_to "/" do
          %i.fa.fa-youtube-play{:aria => {hidden: 'true'}}

      %li.nav-item.nav-item-social.facebook
        = link_to "/" do
          %i.fa.fa-facebook{:aria => {hidden: 'true'}}

  - if !@current_user
    %ul.nav-items#nav-main-menu
      %li.nav-item
        = link_to "Studio", "/#studio", data: { turbolinks: false }
      %li.nav-item
        = link_to "Réalisations", "/#works", data: { turbolinks: false }
      %li.nav-item
        = link_to "À propos", "/#about", data: { turbolinks: false }
  - else
    %ul.nav-items#nav-app-menu
      %li.nav-item
        = link_to "All", media_path
      %li.nav-item
        = link_to "Albums", events_path
      %li.nav-item
        = link_to "Types", types_path

  =link_to "/", class: "nav-item nav-logo" do
    = image_tag("/images/logo_studio.png")

  %ul.nav-items.nav-right
    - if @current_user
      - if @current_user.author? || @current_user.admin?
        %li.nav-item
          = link_to "Dashboard", admin_path

    %li.nav-item.nav-item-social.youtube
      = link_to "/" do
        %i.fa.fa-youtube-play{:aria => {hidden: 'true'}}

    %li.nav-item.nav-item-social.facebook
      = link_to "/" do
        %i.fa.fa-facebook{:aria => {hidden: 'true'}}

    - if @current_user
      %li.nav-item.dropdown
        = link_to '#' do
          = @current_user.nickname
        %div.dropdown-contents
          = link_to 'My Profil', user_path(@current_user)
          = link_to "Logout", logout_path

    - else
      %li.nav-item
        = link_to "Sign in", login_path

  %ul.nav-items#hamburger
    %li.nav-item
      = link_to '#' do
        %i.fa.fa-bars{:aria => {hidden: 'true'}}
