= form_for @user do |f|

  = render 'admin/partials/errors', model: @user

  %div.form-group
    = label_tag 'Surnom:'
    = f.text_field :nickname, placeholder: "fred la pouf, toubab ...", class: "form-control"
    
    = f.submit submit_button_value(@user), class: 'button'
