= form_for @user do |f|

  = render 'admin/partials/errors', model: @user

  %div.input-field.file-field
    %div.btn
      %span Photo de profil
      = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg,image/jpg'
    %div.file-path-wrapper
      = text_field_tag 'Victou <3', '', class: 'file-path validate'

  %div.input-field
    = label_tag 'Surnom'
    = f.text_field :nickname, placeholder: "fred la pouf, toubab ..."

  %button.btn.waves-effect.waves-light{type: 'submit'}
    = submit_button_value(@user)
    %i.material-icons.right
