-#%h2 Modifier le profil

= content_for :js do
  = javascript_include_tag 'dynamic_image_form.js'
  = javascript_include_tag 'users.js'

%div.profile
  
  = render 'profile', user: @user
  
  = render 'form'