%h2 Profil

%div.profile

  %div.profile-picture
    = image_tag(url_picture_profile(@user, 200))
  
  %div.profile-about
    %p
      = @user.first_name + ' ' + @user.last_name
    %p
      = '@' + @user.nickname
    - if current_user.author?
      %p
        = '(' + @user.authorization.name + ')'

- if current_user.author?
  = link_to 'Modifier le profil', edit_admin_user_path(@user), class: "button"