- if @events.empty?
  = render 'partials/nothing'

-else
  %div.grid.big-items
    - @events.each do |event|
      = link_to event_path(event), :class => "item" do
        = image_tag(url_thumbnail(random_media(event)))
        %div.item-infos
          %p.item-name
            = event.name
          %p.item-date
            = format_event_date(event)
