- if @events.empty?
  = render 'partials/nothing'

-else
  = content_for :js do
    = javascript_include_tag *webpack_asset_paths('init-lightbox')

  %div#container-studio
    %div.grid#container-masonry
      - @events.each do |event|
        = link_to event_path(event), :class => "item item-overlay" do
          = image_tag(url_thumbnail(random_media(event)))
          %div.item-infos
            %p.item-name
              = event.name
            %p.item-date
              = format_event_date(event)
