- if @filtered_media.empty?
  = render 'partials/nothing'
- else
  = content_for :js do
    = javascript_include_tag 'https://unpkg.com/vue/dist/vue.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js'
    = javascript_include_tag 'lightbox'

  %lightbox#lightbox

  = render 'events/cover', event: @event, media: @filtered_media, settings: true
  %div.grid#container-masonry
    = render 'partials/media', media: @filtered_media
