- if @event.media.empty?

  = render 'partials/nothing'

- else

  = content_for :js do
    = javascript_include_tag 'https://unpkg.com/vue/dist/vue.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js'
    = javascript_include_tag 'lightbox'

  = render 'events/cover', event: @event, settings: true
  = render 'partials/media', media: @event.media