- single_content_for :title do
  = link_to full_name(activity.owner), user_path(activity.owner)
  = " a upload "
  = count_media(activity.trackable) + " dans l'album "
  = link_to activity.trackable.album.name, album_path(activity.trackable.album)
- single_content_for  :content do
  = render 'admin/uploads/cover', event: activity.trackable.album, media: activity.trackable.media.take(8)
