%div.section-admin
  %h2 Nouveau Évent

  = content_for :js do
    = javascript_include_tag 'dynamic_image_form.js'
    = javascript_include_tag 'admin/covers.js'
    = javascript_include_tag 'admin/events.js'

  = render 'form'
