= form_for [:admin, @medium] do |f|

  = render 'admin/partials/errors', model: @medium
  = image_tag(url_media(@medium), :class => "admin-medium")

  %div.row{style:"margin-bottom: 5px;"}
    %div.col.s12{style:"text-align:center; padding: 5px 0;"}
      - @medium.tags.each do |tag|
        %div.chip
          = tag.name
          = link_to untag_admin_medium_path(@medium, tag), method: :delete do
            %i.close.material-icons close

  %div{style:"color: rgb(120,120,120);"}
    = @medium.count_likes
    %i.fa.fa-thumbs-o-up{aria: {hidden: true}}



  %div.input-field
    = f.select :type_id, @types.map{ |t| [t.name, t.id] }, {}, {autofocus: 'autofocus'}
    = label_tag 'Type du média:'

  %div.input-field
    = f.select :album_id, @albums.map{ |e| [e.name, e.id] }, {}, {}
    = label_tag 'Album:'

  %div.row
    = label_tag 'Visble:'
    %div.switch
      %label
        Off
        = f.check_box :visible, checked: @medium.visible
        %span.lever
        On

  %button.btn.waves-effect.waves-light{type: 'submit'}
    = submit_button_value(@medium)
    %i.material-icons.right

  - unless @medium.tags.empty?
    = link_to 'Supprimer les tags', untag_all_admin_medium_path(@medium), method: :delete, data: { confirm: 'Êtes vous sûr de supprimer tous les tags ?'}, class: "btn waves-effect waves-light red"
