= form_for [:admin, @medium] do |f|

  = render 'admin/partials/errors', model: @medium
  = image_tag(url_media(@medium), :class => "admin-medium")

  %div.row
    %div.col.s12{style:"text-align:center; padding: 5px 0;"}
      - @medium.tags.each do |tag|
        %div.chip
          = tag.name
          = link_to untag_admin_medium_path(@medium, tag), method: :delete do
            %i.close.material-icons close

  %div.input-field
    = f.select :type_id, @types.map{ |t| [t.name, t.id] }, {}, {autofocus: 'autofocus'}
    = label_tag 'Type du média:'

  %div.input-field
    = f.select :event_id, @events.map{ |e| [e.name, e.id] }, {}, {}
    = label_tag 'Évenement:'

  %div.row
    = label_tag 'Visble:'
    %div.switch
      %label
        Off
        = f.check_box :visible, checked: @medium.visible
        %span.lever
        On

  %button.btn.waves-effect.waves-light{type: 'submit'}
    = submit_button_value(@medium)
    %i.material-icons.right
