%h2 Liste des Médias

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Thumbnail
      %th Type
      %th Event
      %th.colum-timestamps Ajouté
      %th.colum-timestamps Mis à jour
      %th
      %th
      %th
  %tbody
    - @media.each do |medium|
      %tr
        %td
          = medium.id
        %td
          = link_to image_tag(url_thumbnail(medium, current_user.oauth_token, 80)), edit_admin_medium_path(medium)
        %td
          = medium.type.name if medium.type
        %td
          = medium.event.name if medium.event
        %td
          = format_date(medium.created_at)
        %td
          = format_date(medium.updated_at)
        %td
          = link_to 'Show', admin_medium_path(medium)
        %td
          = link_to 'Edit', edit_admin_medium_path(medium)
        %td
          = link_to 'Supprimer', admin_medium_path(medium), method: :delete, data: { confirm: 'Voulez vous supprimer ce média ?'}

%div.center
  = link_to 'Importer des médias', admin_picker_path, class: 'button'