%ul.uk-grid{data: {"uk-grid-margin" => true}}
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 1.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 2.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 3.jpg", class: "tn-thumbnail")
    %li.uk-width{style: "width: 300px;"}
        = image_tag("photo 4.jpg", class: "tn-thumbnail")