%div.section-admin

  %h2 Valider le report

  = image_tag(url_media(@report.medium), :class => "admin-medium")

  %div.report
    = link_to user_path(@report.user) do
      = render 'reports/profile', user: @report.user
    %p.message
      = @report.message

  = link_to 'Rejeter le signalement', admin_report_path(@report),  method: :delete, data: { confirm: 'Voulez-vous rejeter ce signalement (le média sera de nouveau visible) ?'}, class: 'waves-effect waves-light btn'
  = link_to 'Supprimer le média', valid_admin_report_path(@report),  method: :delete, data: { confirm: 'cela supprimera définitivement le média) ?'}, class: 'waves-effect waves-light btn red'
