%div.row
  %div.col.s12.l12
    %ul.tabs
      %li.tab.col.s6
        = link_to 'Média', '#media'
      %li.tab.col.s6
        = link_to 'Vidéo', '#video'

  %div.col

  %div#media.col.s12
    %h2 Upload de médias
    = form_for [:admin, @upload], multipart: true do |f|
      %div.input-field
        = f.select :album_id, options_from_collection_for_select(@albums, :id, :name), {}, {autofocus: 'autofocus'}
        = label_tag 'Album:'

      %div.input-field
        = f.select :type_id, options_from_collection_for_select(@types, :id, :name), {}, {:class => 'custom-select form-control'}
        = label_tag 'Type:'

      %div.input-field
        %div{:id => 'studio-dropzone', :class => 'dropzone'}

      %progress-bar{":form" => "form", ":dropzone" => "dropzone", ':sending' => 'submit'}

      %button.btn.waves-effect.waves-light#submit-media{type: 'submit', "@click.prevent.stop" => 'ff'}
        Uploader
        %i.material-icons.right

  %div#video.col.s12
    %h2 Upload d'une vidéo
    = form_for [:admin, @upload], url: admin_upload_video_path do |f|

      %div.input-field
        = f.select :album_id, options_from_collection_for_select(@albums, :id, :name), {}, {autofocus: 'autofocus'}
        = label_tag 'Evénement:'

      %div.input-field
        = f.select :type_id, options_from_collection_for_select(@types, :id, :name), {}, {:class => 'custom-select form-control'}
        = label_tag 'Type:'

      %div.input-field
        = text_field_tag 'upload[url]', '', {:placeholder => 'https://www.youtube.com/watch?v=x537Cqg5nEI'}
        = label_tag 'Lien Youtube:'

      %button.btn.waves-effect.waves-light{type: 'submit'}
        Uploader
        %i.material-icons.right
