%h2 Nouvel upload de médias
= form_for [:admin, @upload], multipart: true do |f|

  %div.input-field
    = f.select :event_id, options_from_collection_for_select(@events, :id, :name), {}, {autofocus: 'autofocus'}
    = label_tag 'Evénement:'

  %div.input-field
    = f.select :type_id, options_from_collection_for_select(@types, :id, :name), {}, {:class => 'custom-select form-control'}
    = label_tag 'Type:'

  %div.input-field
    = label_tag 'Media à upload:'
    %div{:id => 'studio-dropzone', :class => 'dropzone'}

  %button.btn.waves-effect.waves-light{type: 'submit'}
    Uploader
    %i.material-icons.right



  -#%div{class: 'tab-pane', id:'videos', role:'tabpanel'}
    %h2 Nouvel upload de vidéo
    = form_for [:admin, @upload], :url => admin_upload_video_path(), multipart: true do |f|
      %div.form-group
        = label_tag 'Evénement:'
        = f.select :event_id, options_from_collection_for_select(@events, :id, :name), {}, {:class => 'custom-select form-control', autofocus: 'autofocus'}

      %div.form-group
        = label_tag 'Type:'
        = f.select :type_id, options_from_collection_for_select(@types, :id, :name), {}, {:class => 'custom-select form-control'}

      %div.form-group
        = label_tag 'Lien Youtube:'
        = text_field_tag 'admin_upload[video]', '', placeholder: 'youtube.com', autofocus: 'autofocus', class: 'form-control'
        -#= f.text_field @upload, placeholder: "youtube.com", autofocus: "autofocus", class: "form-control"


      %div.form-group
        = f.submit 'Uploader', class: 'button'
