%div.section-admin

  - if @check
    %h2 Liste des uploads

    %table.table.table-striped.highlight
      %thead
        %tr
          %th ID
          %th Uploader
          %th Album
          %th Type
          %th.useless-column Uploadé le
          %th.useless-column

      %tbody
      - @uploads.each do |upload|
        %tr
          %td
            = link_to upload.id, admin_upload_path(upload)
          %td
            = link_to(full_name(upload.user), user_path(upload.user)) if upload.user
          %td
            = link_to upload.album.name, album_path(upload.album) if upload.album
          %td
            = link_to upload.type.name, type_path(upload.type) if upload.type
          %td.useless-column
            = format_upload_date(upload.created_at)
          %td.useless-column
            = link_to 'Détails', admin_upload_path(upload)

    = link_to 'Nouvel upload', new_admin_upload_path, class: 'waves-effect waves-light btn'

  - else
    = render 'admin/uploads/nothing', error: "prout"
