= content_for :js do
  = javascript_include_tag 'https://unpkg.com/vue/dist/vue.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js'
  = javascript_include_tag 'lightbox'

%div.section-admin

  %h2
    = "Upload n°#{@upload.id}"

  %h3
    = "Réalisé par "
    = link_to(full_name(@upload.user), user_path(@upload.user))
  %div.profile-picture
    = image_tag(picture_profile(@upload.user, 200))


  %h3
    = "#{@upload.media.count} médias upload"

  = render 'partials/media', media: @upload.media
