%div.section-admin

  %h2
    = "Upload n°#{@upload.id}"

  %h3
    = "Réalisé par "
    = link_to(full_name(@upload.user), user_path(@upload.user))
  %div.profile-picture
    = image_tag(picture_profile(@upload.user, 200))


  %h3
    = "#{@upload.media.count} médias upload"
  = render 'partials/media', media: @upload.media
