%h2 Liste des médias
 
%table
  %tr
    %th ID
    %th Thumbnail
    %th Type
    %th Event
    %th.colum-timestamps Ajouté
    %th.colum-timestamps Mis à jour
 
  - @media.each do |medium|
    %tr
      %td
        = medium.id
      %td
        = link_to image_tag(url_thumbnail(medium, current_user.oauth_token, 80)), edit_medium_path(medium)
      %td
        = medium.type.name
      %td
        = medium.event.name
      %td.colum-timestamps
        = format_date(medium.created_at)
      %td.colum-timestamps
        = format_date(medium.updated_at)
      %td
        = link_to 'Show', medium_path(medium)
      %td
        = link_to 'Éditer', edit_medium_path(medium)
      %td 
        = link_to 'Supprimer', medium_path(medium), method: :delete, data: { confirm: 'Voulez vous supprimer le média ?' }