%h2 Média


= content_for :js do
  = javascript_include_tag 'likes'


= image_tag url_media(@medium), class: "medium"

= link_to like_medium_path(@medium), method: :post, class: 'like-button liked', remote: true do
  %div.like-icon
  %p#like-count
    = @medium.likes.size