%h2 Liste des Studistes

%table.uk-table.uk-table-hover
  %thead
    %tr
      %th ID
      %th Prénom
      %th Nom
      %th Pseudo
      %th Autorisation
      %th.colum-timestamps Ajouté
      %th.colum-timestamps Mis à jour
      %th
      %th
  %tbody
  - @users.each do |user|
    %tr
      %td.uk-table-middle
        =  link_to user.id, user_path(user)
      %td.uk-table-middle
        = link_to user.first_name, user_path(user)
      %td.uk-table-middle
        = link_to user.last_name.upcase, user_path(user)
      %td.uk-table-middle
        = link_to user.nickname, user_path(user)
      %td.uk-table-middle
        = user.authorization.name
      %td.colum-timestamps.uk-table-middle
        = format_date(user.created_at)
      %td.colum-timestamps.uk-table-middle
        = format_date(user.updated_at)
      %td.uk-table-middle
        = link_to 'Show', user_path(user), class: "uk-button button"
      %td.uk-table-middle
        = link_to 'Éditer', edit_admin_user_path(user), class: "uk-button button"