%h2 Liste des Studistes

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Prénom
      %th Nom
      %th Pseudo
      %th Autorisation
      %th.colum-timestamps Ajouté
      %th.colum-timestamps Mis à jour
      %th
      %th
  %tbody
  - @users.each do |user|
    %tr
      %td
        =  link_to user.id, user_path(user)
      %td
        = link_to user.first_name, user_path(user)
      %td
        = link_to user.last_name.upcase, user_path(user)
      %td
        = link_to user.nickname, user_path(user)
      %td
        = user.authorization.name
      %td
        = format_date(user.created_at)
      %td
        = format_date(user.updated_at)
      %td
        = link_to 'Afficher', user_path(user)
      %td
        = link_to 'Éditer', edit_admin_user_path(user)
      %td
        = link_to 'Ninja', admin_user_ninja_path(user)