!!! 5
%html
  %head
    = render 'partials/head'
    = javascript_include_tag *webpack_asset_paths('application')
    = javascript_include_tag *webpack_asset_paths('admin')

  %body#admin

    %div#root-container
      = render 'partials/navbar'
      = render 'partials/flash'
      %div#container-admin
        = yield

    - if content_for?(:js)
      = yield :js
