!!! 5
%html
  %head
    = render 'partials/head'
  %body#app

    %div#root-container
      = render 'partials/navbar'
      = render 'partials/flash'
      = yield

    = render 'partials/footer'

    - if content_for?(:js)
      = yield :js
