!!! 5
%html
  %head
    = render 'partials/head'
    = javascript_include_tag *webpack_asset_paths('application')
  %body#app

    %div#root-container
      = render 'partials/navbar'
      = render 'partials/flash'
      = yield

    = render 'partials/footer'

    - if content_for?(:js)
      = javascript_include_tag 'http://localhost:35729/livereload.js'
      = yield :js
