!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StudioWebsite
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.tn-nav.uk-navbar.uk-navbar-attached.uk-contrast
      .uk-container.uk-container-center
        .uk-navbar-brand
          %a{href: root_path}
            = image_tag('logo.png')
        %ul.uk-navbar-nav
          %li 
            %a Get Started
          %li 
            %a Core
          %li 
            %a Components
          %li
            %a Customize
          %li
            %a Showcase
          %li 
            %a Tutorials
          %li
            %a UiKit 3
    .uk-width-large-4-5.uk-width-medium-5-6.uk-container-center.uk-margin-large
      = yield
    .tn-footer.uk-contrast
      .uk-container.uk-container-center.uk-text-center
        %p
          Fait par Nicolas Kirchner, with love
