!!!
%html
  %head
    = render 'partials/head'

  %body{:id => ('app' if @current_user)}

    %div.container
      = render 'partials/nav'
      = render 'partials/flash'
      = yield

      = render 'partials/footer'
