!!!
%html
  %head
    = render 'partials/head'

  %body{:id => 'public'}

    %div#root-container
      = render 'partials/navbar'
      = render 'partials/flash'
      = yield

    = render 'partials/footer'
